<form>
  <header class="flex bg-transparent border-solid border-b border-brown-400 justify-center w-full h-14 shadow-xl">
    <div class="flex flex-row w-11/12 justify-between items-center" >
      <div class="flex">
        <img class="flex w-10 h-10 mr-2" src="../../../assets/logo-header.png" size={10}/>
        <strong class="text-xl font-bold text-center text-white mt-1">
          DG Sistemas
        </strong>
      </div>

      <div class="flex flex-row w-auto">
        <div class="flex items-center justify-center mr-1">
          <h4 class="font-bold text-lg">{{user.name}}</h4>
        </div>
        <div class="flex rounded-full w-11 h-11 bg-red-600 z-50 mr-4 justify-center  items-center">
          <img class="flex w-10 h-10 rounded-full" [src]="user.image" alt="User image">
        </div>
        <div class="flex">
          <button class="container border-solid bg-red-700 rounded p-1 w-auto  h-auto">
            <a (click)="logout()" class="text-sm font-bold text-gray-200">Logout</a>
          </button>
        </div>
      </div>
    </div>
  </header>

  <body class="flex w-full h-full">
    <div id="id" class="felx flex-col w-32 h-32 justify-center items-center bg-yellow-400 border-solid rounded shadow-xl">
      <ul>
        <li>
            <span>
              {{posts.id}} - {{posts.title}} o texto deveria estar aqui
            </span>
        </li>
      </ul>
    </div>
  </body>
</form>
